# hidden files
.*

# temporary MS Word files
~*.*

# temporary LibreOffice files
.~*

# Eclipse project files
/Debug/
/Release/

# MS Visual studio 2019 files
*.sln
*.vcxproj
*.filters
*.user
